// Your footer style
.footer {
  color: white;
  font-size: 12px;
  background-color: #1F1D12;
  height: auto;
  padding: 0px 0px 10px 0px;
  position: relative;
}

.footer i {
  color: lightgrey;
  margin: 0;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  text-align: right;
  position: absolute;
  right: 20px;
}

.fa-facebook:before {
  position: absolute;
  right: 100px;
}

.fa-instagram:before {
  position: absolute;
  right: 59px;
}

.fa-youtube:before {
  position: absolute;
  right: 20px;
}

.footer li {
  margin: 0;
  padding: 0;
}

.footer ul {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  padding-top: 10px;
}

.footer p {
  margin-bottom: 0;
  padding: 5px 25px;
  text-align: left;
}
