

// .photo-shadow {
//   padding: 0px;
//   box-shadow: 2px 2px 3px $red;
// }

.wrapper-grey {
  background-color: #1F1D12;
  padding: 15px 15px;
  margin: 15px;
}

.wrapper-spacing {
padding-top: 35px;
padding-bottom: 20px;
}

.wrapper-spacing>h2 {
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  color: $red;
  font-size: 15px;
}

p {
  margin-top: -9px;
  color: white;
}

.card>h3 {
  color: #fff;
  padding-bottom: 12px;
  padding-top: 25px;
}

#shoe-shift {
  padding-top: 40px;
}

.avatar-large {
  width: 190px;
  border-radius: 190%;
}

.summary {
  background-color: $brand-color;
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
}
.row {
  align: center;
}

.button-padding {
  padding-bottom: 35px;
  padding-top: 10px;
}

.workflow>p {
  font-size: 24px;
}
