<br>
<div class="container">

  <div class="col-sm-8">
    <% @shoes.each do |shoe| %>
      <div class="col-sm-6">
        <div class="shoe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path shoe.photo if shoe.photo.present? %>')">
          <h2 class="shoe-card-category"><%= shoe.name.capitalize %></h2>
        </div>
      </div>
    <% end %>
  </div>


  <div class="col-sm-4 map">
    <!-- MAP HERE -->
  </div>
</div>
